<div class="line">
    <h1>bSnap</h1>
</div>
<!-- The b in bSnap does not represent the first letter in my name. The full name is bullshit snap.
-->
<span class="muted">Screenshots without the bullshit.</span>
